/* Write your code here. */
.options-container {
  background-color: #f4f1ea;
  border-style: solid;
  border-width: 0px;
  border-radius: 10px;
  margin: 10px;
  width: 400px;
}
.options-containers {
  border-width: 0px;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
}
.extraClass {
  background-color: #0e8684;
  color: #ffffff;
}
.option-title-image {
  display: flex;
  justify-content: space-between;
}
.image-options {
  height: 60px;
  width: 60px;
}
.options-para {
  font-weight: 500;
  font-size: 18px;
  color: #64748b;
  margin-top: 10px;
}
.extra-para-options {
  color: #ffffff;
}
